* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.router-link-active {
  text-decoration: none;//去除默认样式
}
a{
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


.box-btm {
  // 半透明色
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  // 半透明色
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


@media screen {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    // font 可以继承 行高可以没有单位 例如1.5，就是font-size的1.5倍
    /* font-size 和 font-family不可以省略
    font: font-style font-weight font-size/line-height font-family */
    font: 30px/1.5 'Microsoft YaHei';
  }
}
