* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.router-link-active {
  text-decoration: none;//去除默认样式
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}
/* 去掉li 的小圆点 */
li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

button {
    /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #000;
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 默认有灰色边框我们需要手动去掉 */
    border: 0; 
    outline: none;
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 36px/1.5  Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}

.hide,
.none {
    display: none
}
/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

/* 版心 */
.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.box-btm {
  // 半透明色
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  // 半透明色
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.box-sha {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.v-note-wrapper {
  z-index: 10 !important;
}

@media screen {
  html {
    font-size: 36px;
  }
}

// @media screen and (min-width: 500px) {
//   html {
//     font-size: 16px;
//   }
// }

// @media screen and (min-width: 1000px) {
//   html {
//     // font 可以继承 行高可以没有单位 例如1.5，就是font-size的1.5倍
//     /* font-size 和 font-family不可以省略
//     font: font-style font-weight font-size/line-height font-family */
//     font-size: 24px;
//   }
// }

// @media screen and (min-width: 1500px) {
//   html {
//     // font 可以继承 行高可以没有单位 例如1.5，就是font-size的1.5倍
//     /* font-size 和 font-family不可以省略
//     font: font-style font-weight font-size/line-height font-family */
//     font-size: 36px;
//   }
// }
